.sidebar {
	background: #3F51B5;
	color:white;
	box-shadow: none !important;}
body {
    background-color: #fff; }

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
    color: #ffffff !important; }
.card, .card-profile .card-avatar {
    box-shadow: none !important; }
.sidebar .logo img {
    max-width: 120px;
    margin: 0 auto;
    display: block;
}
.sidebar .nav i {
    color: #ffffff;
}