{% extends "template.html" %}
{% block title %}
<title>Company Settings</title>
{% endblock %}
{% block heading %}
<h2>Company Settings</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
          <form action="/company/settings/" method="POST" enctype="multipart/form-data">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/static/img/users/company.jpg">
              </div>
              <div class="card-body">
                <h4>Choose a JPG format Image to update dp</h4><br/>
                <input type="file" name="image" id="image" accept=".jpg" />
              </div>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="name">Company Name</label>
              <input type="text" class="form-control" value="{{company.name}}" name="name" id="name" required>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="leave_calender">Leave Calendar</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="leave_calender" id="leave_calender">
                {% if company.leave_calender == 1%}
                  <option value="1" selected>Jan - Dec</option>
                  <option value="2">Joining Date to Date</option>
                {% else %}
                  <option value="1">Jan - Dec</option>
                  <option value="2" selected>Joining Date to Date</option>
                {% endif %}
                </select>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="week_start">Week Starting</label>
                <select class="form-control selectpicker" data-style="btn btn-link" name="week_start" id="week_start">
                {% if company.week_start == 7 %}
                  <option value="1">Monday</option>
                  <option value="7" selected>Sunday</option>
                {% else %}
                  <option value="1" selected>Monday</option>
                  <option value="7">Sunday</option>
                {% endif %}
                </select>
            </div>
            <br>
            <h5>Weekly off days</h5>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="sunday" name="sunday" value="6" {% if 6 in weekends%} checked {% endif %}> Sunday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="monday" name="monday" value="0" {% if 0 in weekends%} checked {% endif %}> Monday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="tuesday" name="tuesday" value="1" {% if 1 in weekends%} checked {% endif %}> Tuesday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="wednesday" name="wednesday" value="2" {% if 2 in weekends%} checked {% endif %}> Wednesday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="thursday" name="thursday" value="3" {% if 3 in weekends%} checked {% endif %}> Thursday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="friday" name="friday" value="4" {% if 4 in weekends%} checked {% endif %}> Friday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="saturday" name="saturday" value="5" {% if 5 in weekends%} checked {% endif %}> Saturday
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <br>
            <br>
            <div class="form-group bmd-form-group">
              <label for="currency">Currency</label>
              <input type="text" class="form-control" value="{{company.currency}}" name="currency" id="currency" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary pull-right">Save Settings</button>
            <div class="clearfix"></div>
          </form>
    </div>
  </div>
</div>
{% endblock %}