{% extends "template.html" %}
{% block title %}
<title>Create Profile</title>
{% endblock %}
{% block heading %}
<h2>Employee Profiles</h2>
{% endblock %}
{% block content %}
{% if g.user.role == 3%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-employee">
  Add a new Employee
</button>
<div class="modal fade" id="add-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form action="/employees/" method="POST">
            <br>
            <div class="form-group bmd-form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" name="name" id="name" required>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="email">Email ID</label>
              <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
              <label for="team">Choose the Team</label>
              <select class="form-control selectpicker" data-style="btn btn-link" name="team" id="team" required>
                <option>Choose a Team</option>
                {% for team in teams%}
                <option value="{{team.id}}">{{team.name}}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="title">Job Title</label>
              <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="role">Permission Role</label>
              <select class="form-control selectpicker" data-style="btn btn-link" name="role" id="role" required>
                <option value="1">Employee</option>
                <option value="2">Manager</option>
                <option value="3">Admin</option>
              </select>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="leaves">Annual Leaves</label>
              <input type="text" class="form-control" name="leaves" id="leaves" required>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="doj">Date of Joining</label>
              <input type="date" class="form-control" name="doj" id="doj" required>
            </div>
            <br>
            <div class="form-group bmd-form-group">
              <label for="pay">Net Pay in AED</label>
              <input type="number" class="form-control" name="pay" id="pay" required>
            </div>
          <button type="submit" class="btn btn-primary pull-right">Create Profile</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
<div class="col-md-12">
  <div class="card">
    <h3>All Members</h3>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr><th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Join</th>
            <th>Team</th>
            <th>Status</th>
            {% if g.user.role == 3 %}
            <th>Actions</th>
            {% endif %}
          </tr></thead>
          <tbody>
            {% for user in users%}
            <tr>
              <td>
                  {% if user.dp %}
                  <img class="img nav-icon" src="/static/img/users/{{user.dp}}">
                  {% else %}
                  <img class="img nav-icon" src="/static/img/users/default.png">
                  {% endif %}
              </td>
              <td>
                <a href="/profile/{{user.id}}">{{user.name}}</a>
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                {{user.doj}}
              </td>
              <td>
              {% if user.member_of[0] %}
                {% for memeber in user.member_of %}
                  {{memeber.team.name}},
                {% endfor %}
              {% endif %}
              </td>
              <td>
                {% if user.password %}
                Active
                {% else %}
                Invited (Pending)
                {% endif %}
              </td>
              {% if g.user.role == 3 %}
              <td>
                  <a href="/edit-profile/{{user.id}}/"><button class="btn btn-info btn-fab btn-fab-mini btn-round" title="Edit">
                  <i class="material-icons">edit</i>
                  </button></a>
                  <button class="btn btn-danger btn-fab btn-fab-mini btn-round delete-user-btn" data-id="{{user.id}}" data-name="{{user.name}}" data-toggle="modal" data-target="#delete_user" title="Delete">
                  <i class="material-icons">delete</i>
                  </button>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% if g.user.role==3 %}
<div class="modal fade" id="delete_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/delete-profile/" method="POST">
                <p>Are you sure, Do you want to <b>DELETE</b> user profile <b><span class="name-here"></span></b>?</p>
                <p>Confirm your password to proceed with deletion</p>
                <br/>
                <input type="number" name="user-id" id="user-id" hidden>
                <div class="form-group bmd-form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control">
                </div>
              <button type="submit" class="btn btn-primary btn-round">Login</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(".delete-user-btn").click(function(){
var id = $(this).data("id")
var name = $(this).data("name")
$(".name-here").text(name)
$("#user-id").val(id);
})
</script>
<script type="text/javascript">
  $(".mn-employees").addClass("active")
</script>
{% endblock %}