{% extends "template.html" %}
{% block title %}
<title>Forgot Password</title>
{% endblock %}
{% block heading %}
<h2>Forgot Password</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

          <form action="/forgot-password/" method="POST">
                <h3>Forgot Password</h3>
                <br/>
                <div class="form-group bmd-form-group">
                  <label for="email">Email ID</label>
                  <input type="text" name="email" id="email" class="form-control">
                </div>
              <button type="submit" class="btn btn-primary btn-round">Send Recovery Email</button>
          </form>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}

  $(".mn-login").addClass("active")
</script>
{% endblock %}
