{% extends "template.html" %}
{% block title %}
<title>Something went wrong</title>
{% endblock %}
{% block heading %}
<h2>Something wrong!</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="lost-screen">
        <img class="screen-fill" src="/static/img/lost.png">
        <p>Something went wrong with the request. Please try again later.</p>
        {% if g.user == None %}
          <a href="/sign-in/"><button class="btn btn-primary btn-round">Go Back</button></a>
        {% else %}
          <a href="/"><button class="btn btn-primary btn-round">Go Back</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}