{% extends "template.html" %}
{% block title %}
<title>Change Password</title>
{% endblock %}
{% block heading %}
<h2>Change Password</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

          <form action="/update-password/" method="POST">
                <h3>Change Password</h3>
                <br/>
                <div class="form-group bmd-form-group">
                  <label for="c-password">Current Password</label>
                  <input type="password" name="c-password" id="c-password" class="form-control">
                </div>
                <br/>
                <div class="form-group bmd-form-group">
                  <label for="password">New Password</label>
                  <input type="password" name="password" id="password" class="form-control">
                </div>
                <br/>
                <div class="form-group bmd-form-group">
                  <label for="re-password">Repeat Password</label>
                  <input type="password" name="re-password" id="re-password" class="form-control">
                </div>
              <button type="submit" class="btn btn-primary btn-round">Update Password</button>
          </form>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}

  $(".mn-login").addClass("active")
</script>
{% endblock %}
