{% extends "template.html" %}
{% block title %}
<title>Team Details</title>
{% endblock %}
{% block heading %}
<h2>{{team.name}} | Team Details</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
<h3>Team Leads</h3><br>
<a href="#" type="button" class="badge badge-primary" data-toggle="modal" data-target="#set-lead">Set a Team Lead</a>
  {% if team.leads[0] %}

    {% for lead in team.leads %}
      <a href="/profile/{{lead.manager.id}}" class="badge badge-default">{{lead.manager.name}}</a>
    {% endfor %}

 {% endif %}
 <br>
  <br>
 
  <div class="row">
  <div class="modal fade" id="set-lead" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card-body">
          <form action="/teams/{{team.id}}/" method="POST">
            <br>
            <div class="form-group">
              <label for="user">Choose the lead</label>
              <select class="form-control selectpicker" data-style="btn btn-link" name="user" id="user">
                <option>Choose</option>
                {% for user in users%}
                <option value="{{user.id}}">{{user.email}}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>


  <br/><br/><br/><br/>

    <br/>
          <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr><th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>DOJ</th>
            <th>Status</th>
          </tr></thead>
          <tbody>
            {% for member in team.members %}
            <tr>
              <td>{{member.members.id}}</td>
              <td><a href="/profile/{{member.id}}">{{member.members.name}}</a></td>
              <td>{{member.members.email}}</td>
              <td>{{member.members.doj}}</td>
              <td>
                {% if member.members.password %}
                Active
                {% else %}
                Invited (Pending)
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock %}