
{% extends "template.html" %}
{% block title %}
<title>{{user.name}} | Profile Info</title>
{% endblock %}
{% block heading %}
<h2>{{user.name}} | Profile Info</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="javascript:;">
						<img class="img" src="/static/img/users/{{user.dp}}">
					</a>
				</div>
				<div class="card-body">
					<h6 class="card-category text-gray">
					{% if user.title%}
					{{user.title}}
					{% else %}
					Job Title Not Set
					{% endif %}</h6>
					<h4 class="card-title">{{user.name}}</h4>
				</div>
			</div>
			<div class="table-responsive">
            <table class="table">
              <tbody>
                <tr><td>Email :</td><td>{{user.email}}</td></tr>
                <tr><td>Phone :</td><td>{{user.phone}}</td></tr>
                <tr><td>Team :</td><td>{{user.team.name}}</td></tr>
                <tr><td>DOB :</td><td>{{user.dob}}</td></tr>
                <tr><td>DOJ :</td><td>{{user.doj}}</td></tr>
                <tr><td>Blood Group :</td><td>{{user.blood_group}}</td></tr>
                <tr><td>Pay :</td><td>{{user.pay}}</td></tr>
                <tr><td>Address :</td><td>{{user.address}}</td></tr>
                <tr><td>Nationality :</td><td>{{user.origin_country}}</td></tr>
                <tr><td>Marital Status :</td><td>{{user.marital_status}}</td></tr>
                <tr><td>Diet Type :</td><td>{{user.diet_type}}</td></tr>
                <tr><td>Drinking Preference :</td><td>{{user.drinking}}</td></tr>
              </tbody>
            </table>
            <a href="/edit-profile/"><button type="submit" class="btn btn-primary pull-center">Edit Profile</button></a>
          </div>

		</div>
	</div>
</div>
{% endblock %}