
{% extends "template.html" %}
{% block title %}
<title>{{user.name}} | Profile Info</title>
{% endblock %}
{% block heading %}
<h2>{{user.name}} | Profile Info</h2>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="javascript:;">
                    {% if user.dp %}
						<img class="img" src="/static/img/users/{{user.dp}}">
                    {% else %}
                        <img class="img" src="/static/img/users/default.png">
                    {% endif %}
					</a>
				</div>
				<div class="card-body">
					<h6 class="card-category text-gray">
					{% if user.title%}
					{{user.title}}
					{% else %}
					Job Title Not Set
					{% endif %}</h6>
					<h4 class="card-title">{{user.name}}</h4>
				</div>
			</div>
			<div class="table-responsive">
            <table class="table">
              <tbody>
                <tr><td>Email :</td><td>{{user.email}}</td></tr>
                <tr><td>Team :</td><td>
                {% if user.member_of[0]%}
                	{% for memeber in user.member_of%}
               		 {{memeber.team.name}},
                	{% endfor %}
                {% endif %}
            	</td></tr>
                <tr><td>Date of Birth :</td><td>{{user.dob}}</td></tr>
                <tr><td>Date of Join :</td><td>{{user.doj}}</td></tr>
                <tr><td>Blood Group :</td><td>{{user.blood_group}}</td></tr>
                <tr><td>Nationality :</td><td>{{user.origin_country}}</td></tr>
                <tr><td>Marital Status :</td><td>
                {% if user.marital_status == 1 %}
                    Single
                {% elif user.marital_status == 2 %}
                    Married
                {% else %}
                    Not Set
                {% endif %}
                </td></tr>
                <!-- Protected info for admin or selfview -->
            {% if g.user.role ==3 or g.user.id == user.id %}
                <tr><td>Phone :</td><td>{{user.phone}}</td></tr>
                <tr><td>Pay :</td><td>{{user.pay}}</td></tr>
                <tr><td>Diet Type :</td><td>
                {% if user.diet_type == 1 %}
                    Non-vegan
                {% elif user.diet_type == 2 %}
                    Eggetarian
                {% elif user.diet_type == 3 %}
                    Vegan
                {% else %}
                    Not Set
                {% endif %}
                </td></tr>
                <tr><td>Drinking Preference :</td><td>{{user.drinking}}</td></tr>
                <tr><td>Address :</td><td>{{user.address}}</td></tr>
            {% endif %}
              </tbody>
            </table>
            {% if g.user.role ==3 or g.user.id == user.id %}
            <a href="/edit-profile/{{user.id}}/"><button type="submit" class="btn btn-primary pull-center">Edit Profile</button></a>
            {% endif %}
          </div>

		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
  $(".mn-employees").addClass("active")
</script>
{% endblock %}